* {
    font-weight: 500;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-cont {
    height: 90%;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    gap: 2.5%;
}

.title {
    height: 10%;
    margin: 0;
}

.contact-list,
form {
    width: 85%;
    position: relative;
    gap: .75rem;
    padding: 2.5% 0;
}

.contact-list {
    height: 60%;
    justify-content: flex-start;
    overflow-y: scroll;
}

.contact {
    min-height: 5rem;
    width: inherit;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    gap: 2.5%;
    padding: 1%;
}

.contact>p {
    margin: 0;
}

#status {
    height: .75rem;
    width: .75rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.598));
}

.connected {
    background-color: rgb(93, 177, 93);
}

.disconnected {
    background-color: rgb(227, 104, 82);
}

#delete-icon,
#status {
    cursor: pointer;
}

#delete-icon:hover {
    color: indianred;
}

form {
    height: 30%;
    position: relative;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 2px tomato;
    justify-content: flex-start !important;
    gap: 7%;
}

.form-control {
    min-height: 30px;
    width: 85%;
    align-items: center;
    position: relative;
}

input,
input:focus,
input:hover {
    outline: none;
    box-shadow: none;
}

.form-control>input {
    height: 25px;
    width: 100%;
    position: absolute;
    padding-left: 3px;
}

.form-control>label {
    position: relative;
    align-self: flex-start;
    left: 3px;
    text-transform: capitalize;
}

input:focus+label,
label.filled {
    top: -15px;
    left: 15px;
    background-color: white;
}

form>button {
    height: 30px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: .25rem;
    background-color: indianred;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

form>button:hover {
    background-color: white;
    color: indianred;
    border: 1px solid indianred;
}

.error {
    border: 1px dashed indianred;
    border-radius: .25rem;
    background-color: white;
    padding: 2%;
}

div.error > p {
    font-size: small;
    color: indianred;
}

.error > p::first-letter {
    text-transform: uppercase;
}